* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue; /*#061e1f*/
	overflow: hidden;
}

table {
	border-collapse: collapse;
}

td {
	width: min(12.5vw, 16.67vh);
	height: min(12.5vw, 16.67vh);
}

/*UTILITY CLASSES*/
.tile {
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.layer {
	position: absolute;
	inset: 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.base {
	z-index: 1;
}

.overlay {
	z-index: 2;
}

.overlay2 {
	z-index: 3;
}

.entity {
	z-index: 4;
}

.topleft {
	background-position: top left;
}
.topright {
	background-position-x: 121%;
	background-position-y: -7%;
}
.bottomleft {
	background-position: bottom left;
}
.bottomright {
	background-position: bottom right;
}
.centered {
	background-position: center;
}

/*SPRITES*/
.center {
	background-image: url('../static/assets/sprites/map/00_tileset_wumpus_cave1028.png');
}

.upright {
	background-image: url('../static/assets/sprites/map/02_tileset_wumpus_cave1028.png');
}

.upleft {
	background-image: url('../static/assets/sprites/map/06_tileset_wumpus_cave1028.png');
}

.downright {
	background-image: url('../static/assets/sprites/map/07_tileset_wumpus_cave1028.png');
}

.downleft {
	background-image: url('../static/assets/sprites/map/03_tileset_wumpus_cave1028.png');
}

.pit {
	background-image: url('../static/assets/sprites/map/01_tileset_wumpus_cave1028.png');
}

.blood {
	background-image: url('../static/assets/sprites/map/04_tileset_wumpus_cave1028.png');
}

.slime {
	background-image: url('../static/assets/sprites/map/05_tileset_wumpus_cave1028.png');
}

.player {
	background-image: url('../static/assets/sprites/player/Soldier_1/00_soldier1.png');
	background-size: 70%;
}
.wumpus {
	background-image: url('../static/assets/sprites/enemies/wumpus/00_wumpus_sprite_sheet1024.png');
	background-size: 70%;
	background-position: center;
}
.bat {
	background-image: url('../static/assets/sprites/enemies/Bat//02_bat_sprite_sheet1024.png');
	background-size: 60%;
	background-position-x: center;
	background-position-y: 65%;
}
