<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hunt the Wumpus</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<table>
			{% for row in table %}
			<tr>
				{% for tile in row %}
				<td>
					<div class="tile">
						{% if tile == 1 %}
						<div class="layer base center"></div>
						{% elif tile == 3 %}
						<div class="layer base upleft"></div>
						<div class="layer base downright"></div>
						{% elif tile == 4 %}
						<div class="layer base upright"></div>
						<div class="layer base downleft"></div>

						{% endif %}
					</div>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
