<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hunt the Wumpus</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<table>
			{% for row in table %}
			<tr>
				{% for tile in row %}
				<td>
					<div class="tile">
						{% if tile[0] == 1 %}
						<div class="layer base center"></div>
						{% elif tile[0] == 3 %}
						<div class="layer base upleft"></div>
						<div class="layer base downright"></div>
						{% elif tile[0] == 4 %}
						<div class="layer base upright"></div>
						<div class="layer base downleft"></div>
						{% elif tile[0] == 6 %}
						<div class="layer base pit"></div>
						{% endif %} {% if tile[2] == 7 %}
						<div class="layer entity bat"></div>
						{% elif tile[3] == 8 %}
						<div class="layer entity wumpus"></div>
						{% elif tile[3] == 9 %}
						<div class="layer entity player centered"></div>
						{% endif %} {% if tile[1] == 11 %}
						<div class="layer overlay slime"></div>
						{% endif %} {% if tile[2] == 10 %}
						<div class="layer overlay blood"></div>
						{% endif %}
					</div>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
