{% extends "base.html" %} {% block title %}Debug{% endblock %} {% block content %}

<div class="debug-grid">
	<section class="panel">
		<h2>LINKS</h2>
		<ul>
			<li><a href="{{url_for('debug.go_home_page')}}">Home page</a></li>
			<li><a href="{{url_for('debug.go_game_page')}}">Game page</a></li>
		</ul>
	</section>

	<section class="panel">
		<h2>ACTIONS</h2>
		<ul>
			<li><a href="{{url_for('debug.destroy_session')}}">Destroy session</a></li>
		</ul>
	</section>

	<section class="panel">
		<h2>SESSION</h2>
		<pre>Player Y = {{ session_data.y }}</pre>
		<pre>Player X = {{ session_data.x }}</pre>
		<pre>
Came from =
			{% if session_data.came_from == UP %}UP
			{% elif session_data.came_from == DOWN %}DOWN
			{% elif session_data.came_from == LEFT %}LEFT
			{% elif session_data.came_from == RIGHT %}RIGHT
			{% else %}None{% endif %}
		</pre
		>
	</section>

	<section class="panel map-panel">
		<h2>MAP</h2>

		<table class="map">
			{% for row in session_data.game_map %}
			<tr>
				{% for tile in row %}
				<td class="tilee">
					<div>
						P: {% if tile.path == CAVE %}CAVE {% elif tile.path == ULDRTUNNEL %}ULDRTUNNEL {% elif tile.path ==
						URDLTUNNEL %}URDLTUNNEL {% elif tile.path == PIT %}PIT {% else %}{{ tile.path }}{% endif %}
					</div>
					<div>
						E: {% for entity in tile.entities %} {% if entity == PLAYER %}PLAYER {% elif entity == WUMPUS
						%}WUMPUS {% elif entity == BAT %}BAT {% else %}{{ entity }}{% endif %} {% endfor %}
					</div>
					<div>
						Fx: {% for effect in tile.effects %} {% if effect == BLOOD %}BLOOD {% elif effect == SLIME %}SLIME {%
						else %}{{ effect }}{% endif %} {% endfor %}
					</div>
					<div>Seen: {{ tile.seen }}</div>
					<div>Cor: {{ tile.corridors_seen }}</div>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</section>
</div>

{% endblock %}
