<div class="map-grid">
  {% for row in map %}
    {% for tile in row %}
      <div class="tile">
        {# Blinded = only show tile where the player currently stands #}
        {% set visible = (not blinded and tile["seen"] == 1) or (blinded and PLAYER in tile["entities"]) %}
        {% if visible %}

          {% if tile["path"] == CAVE %}
            <div class="tile-layer tile-base tile-cave"></div>
          {% elif tile["path"] == ULDRTUNNEL or tile["path"] == URDLTUNNEL %}
            {% for corr in tile["corridors_seen"] %}
              <div class="tile-layer tile-base tile-{{ corr }}"></div>
            {% endfor %}
          {% elif tile["path"] == PIT %}
            <div class="tile-layer tile-base tile-pit"></div>
          {% endif %}

          {% if SLIME in tile["effects"] %}
            <div class="tile-layer tile-overlay tile-slime"></div>
          {% endif %}
          {% if BLOOD in tile["effects"] %}
            <div class="tile-layer tile-overlay tile-blood"></div>
          {% endif %}

          {% if BAT in tile["entities"] %}
            <div class="tile-layer tile-entity tile-bat"></div>
          {% elif WUMPUS in tile["entities"] %}
            <div class="tile-layer tile-entity tile-wumpus"></div>
          {% endif %}

          {% if PLAYER in tile["entities"] %}
            {% if tile["path"] == ULDRTUNNEL %}
              {% if came_from == DOWN or came_from == LEFT %}
                <div class="tile-layer tile-entity tile-player bottomleft"></div>
              {% else %}
                <div class="tile-layer tile-entity tile-player topright"></div>
              {% endif %}
            {% elif tile["path"] == URDLTUNNEL %}
              {% if came_from == DOWN or came_from == RIGHT %}
                <div class="tile-layer tile-entity tile-player bottomright"></div>
              {% else %}
                <div class="tile-layer tile-entity tile-player topleft"></div>
              {% endif %}
            {% else %}
              <div class="tile-layer tile-entity tile-player"></div>
            {% endif %}
          {% endif %}

        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
</div>
