<div class="map-ratio-box">
  <div class="map-frame">
    <div class="map-grid">
      {% for row in map %}
        {% for tile in row %}
          <div class="tile">
            {% if tile["path"] == CAVE %}
              <div class="tile-layer tile-base tile-cave"></div>
            {% elif tile["path"] == ULDRTUNNEL %}
              <div class="tile-layer tile-base tile-upleft"></div>
              <div class="tile-layer tile-base tile-downright"></div>
            {% elif tile["path"] == URDLTUNNEL %}
              <div class="tile-layer tile-base tile-upright"></div>
              <div class="tile-layer tile-base tile-downleft"></div>
            {% elif tile["path"] == PIT %}
              <div class="tile-layer tile-base tile-pit"></div>
            {% endif %}
            {% if SLIME in tile["effects"] %}
              <div class="tile-layer tile-overlay tile-slime"></div>
            {% endif %}
            {% if BLOOD in tile["effects"] %}
              <div class="tile-layer tile-overlay tile-blood"></div>
            {% endif %}
            {% if WUMPUS in tile["entities"] %}
              <div class="tile-layer tile-entity tile-wumpus"></div>
            {% endif %}
            {% if BAT in tile["entities"] %}
              <div class="tile-layer tile-entity tile-bat"></div>
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
